
@{
    ViewBag.Title = "Chính sách riêng tư";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/css/gioithieu.css" media="all" />

<div class="container-fluid banner" style="padding: 0;">
    <!-- content -->
    <div class="container">
        <div class="row" id="mn">
            <div class="col-md-3">
                @Html.Partial("sideBar")
                <style>
                    .banner .row .col-md-3 .nav li:nth-child(4) a {
                        color: orange !important;
                        font-weight: bold
                    }
                </style>
            </div>
            <div class="col-md-9">
                <h3>CHÍNH SÁCH BẢO MẬT THÔNG TIN CÁ NHÂN</h3><br />
                <p>Tại Mytour.vn chúng tôi cam kết tuân thủ việc bảo vệ quyền riêng tư và bảo mật thông tin cá nhân (gọi tắt là PII) mà bạn cung cấp.Thông tin cá nhân có thể là tên, địa chỉ, điện thoại hoặc điạ chỉ email.</p>
                <p>Chính sách riêng tư này giải thích về cách thức chúng tôi xử lý và bảo vệ thông tin cá nhân theo qui định được chấp nhận bởi hiệp hội bảo vệ chính sách cá nhân. Những chính sách này được điều chỉnh vào ngày 18 tháng 3 năm 2011.</p>
                <p>Chúng tôi cam kết bảo mật thông tin cho dù có thay đổi hay sửa đổi chính sách này bất luận thời gian và lý do. Bất kỳ sự thay đổi về chính sách bảo vệ thông tin cá nhân sẽ được thông báo sớm trước khi thực thi. Mọi ý kiến thắc mắc xin gửi qua địa chỉ email info@Mytour.vn hoặc gửi đến:</p>
                <p>- Văn phòng tại Tp. Hồ Chí Minh: Tp. Hồ Chí Minh, Việt Nam</p>
                <p>- Văn phòng tại Hà Nội: Tầng 11 tòa nhà Peak View, 36 Hoàng Cầu, Đống Đa, Hà Nội, Việt Nam</p>
                <p style="color: #4682B4; font-weight: bolder;">Chúng tôi lưu trữ thông tin gì?</p>
                <p>Mọi nỗ lực giữ vững dịch vụ không đơn thuần là chúng tôi chỉ tạo hoặc lưu trữ thông tin khách hàng.Chúng tôi chỉ lưu lại PII và những thông khác cần để trao đổi thông tin với bạn.</p>
                <p style="color: #4682B4; font-weight: bolder;">Chúng tôi sử dụng thông tin của bạn như thế nào?</p>
                <p>Chúng tôi chỉ sử dụng PII để trả lời và yêu cầu cho dịch vụ và sản phẩm của chúng tôi.</p>
                <p style="color: #4682B4; font-weight: bolder;">Chúng tôi chia sẻ thông tin của bạn với ai?</p>
                <p>Chúng tôi không tiết lộ thông tin đặt phòng cho bất kỳ ai.</p>
                <p style="color: #4682B4; font-weight: bolder;">Bạn điều chỉnh và truy cập thông tin của bạn như thế nào?</p>
                <p>Chúng tôi hi vọng những khách ghé thăm website và có thay đổi thông tin lưu trữ và sử dụng PII.</p>
                <p style="color: #4682B4; font-weight: bolder;">Chúng tôi bảo vệ thông tin cá nhân của bạn như thế nào?</p>
                <p>Để đảm bảo độ tin cậy PII , chúng tôi đã sử dụng những kỹ thuật bảo mật cùng thao tác kiểm tra và cập nhật thường xuyên.</p>
                <p style="color: #4682B4; font-weight: bolder;">Chúng tôi lưu trữ thông tin gì?</p>
                <p>Với nỗ lực duy trì dịch vụ của chúng tôi đơn giản tối đa, chúng tôi không tạo, sử dụng hoặc lưu trữ thông tin của khách hàng ngoài mục đích gửi các thông tin hấp dẫn (xem chi tiết dưới đây). Chúng tôi chỉ sử dụng PII trả lời và yêu cầu cho dịch vụ và sản phẩm của chúng tôi. Trên trang iVIVU.com lưu trữ PII. Chúng tôi mô tả cụ thể thông tin yêu cầu gửi tới bạn của những dịch vụ hay sản phẩm bạn yêu cầu.</p>
                <p style="color: #4682B4; font-weight: bolder;">Chúng tôi Bảo vệ thông tin của bạn như thế nào?</p>
                <p>Để đảm bảo độ tin cậy PII , chúng tôi sử dụng những kỹ thuật bảo mật và quy trình chuẩn được xem xét và cập nhật thường xuyên.</p>
                <p>Chúng tôi có được chữ ký số từ GoDaddy, là một trong những công ty hàng đầu cung cấp dịch vụ bảo vệ và quản lý truyền thông tin.</p>
                <p>Hệ thống của chúng tôi được cấu hình với tiêu chuẩn mã hoá công nghiệp và công nghệ tường lửa. Khi bạn gửi PII cho chúng tôi trên internet, dữ liệu của bạn đã được bảo vệ bởi công nghệ SSL để bảo đảm an toàn trên đường truyền.</p>
                <br /><br />
            </div>
        </div>
    </div>
</div>

